<mat-toolbar color="primary" class="navbar">
  <button mat-icon-button (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="logo">HitPick</span>
  <span class="spacer"></span>
  <nav class="nav-links">
    <a mat-button routerLink="/">User</a>
    <a mat-button routerLink="/stations">Radio stations</a>
    <a mat-button routerLink="/best-of-day">Best of day</a>
    <a mat-button routerLink="/best-of-month">Best of Month</a>
    <a mat-button routerLink="/my-list">My List</a>
    <a mat-button routerLink="/logout">Logout</a>
  </nav>
  <button mat-icon-button>
    <mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar>
