<mat-toolbar color="primary" class="navbar">
  <button mat-icon-button (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="logo">Logo</span>
  <span class="spacer"></span>
  <nav class="nav-links">
    <a mat-button routerLink="/">Početna</a>
    <a mat-button routerLink="/proizvodi">Proizvodi</a>
    <a mat-button routerLink="/o-nama">O nama</a>
    <a mat-button routerLink="/kontakt">Kontakt</a>
  </nav>
  <button mat-icon-button>
    <mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar>
